<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Banner | Elements</title>
    <link rel="stylesheet" type="text/css" href="../../eynoaf.css" />
</head>

<body>

    <section class="ui medium padded section">
        <div class="ui container">

            <h2 class="ui headline">Banner</h2>

            <div class="ui one medium-two column grid">
                <div class="column" style="margin-top: 1em;">
                    <div class="ui banner">
                        <div class="image" style="background-image: url(../assets/images/image1.jpg);"></div>
                        <div class="bottom caption">
                            <h4 class="ui headline">Dingen en zaken</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="column" style="margin-top: 1em;">
                    <div class="ui banner">
                        <div class="image" style="background-image: url(../assets/images/image1.jpg);"></div>
                        <div class="top caption">
                            <h4 class="ui headline">Dingen en zaken</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="/" class="ui white outline button">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="column" style="margin-top: 1em;">
                    <div class="ui banner">
                        <div class="image" style="background-image: url(../assets/images/image1.jpg);"></div>
                        <div class="right caption">
                            <h4 class="ui headline">Dingen en zaken</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="column" style="margin-top: 1em;">
                    <div class="ui banner">
                        <div class="image" style="background-image: url(../assets/images/image1.jpg);"></div>
                        <div class="left caption">
                            <h4 class="ui headline">Dingen en zaken</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>

</html>