<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Teaser | Elements</title>
    <link rel="stylesheet" type="text/css" href="../../eynoaf.css" />
</head>

<body>

    <section class="ui medium padded section">
        <div class="ui container">

            <h2 class="ui headline">Teaser</h2>

            <div class="ui three column grid">
                <div class="column">
                    <div class="ui teaser">
                        <img class="rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui teaser">
                        <img class="rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui teaser">
                        <img class="rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
            </div>

            <h3 class="ui headline">Teaser in a box</h3>

            <div class="ui three column grid">
                <div class="column">
                    <div class="ui teaser box">
                        <img class="rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui teaser box">
                        <img class="rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui teaser box">
                        <img class="rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
            </div>

            <h3 class="ui headline">Teaser in a box with stretched images</h3>

            <div class="ui three column grid">
                <div class="column">
                    <div class="ui teaser box">
                        <img class="stretched rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui teaser box">
                        <img class="stretched rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui teaser box">
                        <img class="stretched rounded" src="../assets/images/image2.jpg" />
                        <div class="ui prelude">28 februari 2017</div>
                        <h3 class="ui headline">This is a teaser</h3>
                        <p class="gray text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="readmore" href="/">Read more</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>

</html>
