*,
:before,
:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 1em sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a img {
  border: none;
}
/**/
/* Global variables */
/* Mixins */
/* Prelude variables */
/* Container variables */
/* Section variables */
/* Bordered image variables */
/* Caret variables */
/* Dimmers and loaders variables */
/* Loader variables */
/* Container */
.ui.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}
.ui.container.fluid {
  max-width: none;
}
/* Section */
.ui.section {
  padding: 2.5rem 0 2.5rem 0;
}
.ui.section.padded.small {
  padding: 0.5rem 0 0.5rem 0;
}
.ui.section.padded.medium {
  padding: 1rem 0 1rem 0;
}
.ui.section.padded.large {
  padding: 4rem 0 4rem 0;
}
@media screen and (min-width: 700px) {
  .ui.section {
    padding: 5rem 0 5rem 0;
  }
  .ui.section.padded.small {
    padding: 1rem 0 1rem 0;
  }
  .ui.section.padded.medium {
    padding: 2rem 0 2rem 0;
  }
  .ui.section.padded.large {
    padding: 8rem 0 8rem 0;
  }
}
/* Visibility classes */
@media screen and (max-width: 700px) {
  .medium-only,
  .from-medium-up {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .small-only {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .large-only {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .medium-only,
  .up-to-medium {
    display: none;
  }
}
/* Float classes */
.left.floated {
  float: left;
}
.right.floated {
  float: right;
}
/* Alignment classes */
.left.aligned {
  text-align: left;
}
.center.aligned {
  text-align: center;
}
.right.aligned {
  text-align: right;
}
.justified {
  text-align: justify;
}
/* Text classes */
.text.primary,
.link.primary {
  color: #136DFB;
}
.text.secondary,
.link.secondary {
  color: #42E78A;
}
.text.info,
.link.info {
  color: #669DF4;
}
.text.success,
.link.success {
  color: #0ECD62;
}
.text.warning,
.link.warning {
  color: #FBAE13;
}
.text.danger,
.link.danger {
  color: #DB292D;
}
.text.gray,
.link.gray {
  color: #A0A0A0;
}
.text.bold,
.link.bold {
  font-weight: 700;
}
.link[href].primary:hover {
  color: #004FD5;
}
.link[href].secondary:hover {
  color: #24C168;
}
.link[href].info:hover {
  color: #4178CE;
}
.link[href].success:hover {
  color: #00A746;
}
.link[href].warning:hover {
  color: #D58C00;
}
.link[href].danger:hover {
  color: #B50C10;
}
.link[href].gray:hover {
  color: #7A6E6E;
}
.readmore {
  text-decoration: none;
}
.readmore:after {
  content: ">";
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.2s;
}
.readmore:hover:after {
  transform: translateX(5px);
}
/* Background classes */
.bg-primary {
  background-color: #136DFB;
  color: white;
}
.bg-primary-light {
  background-color: #338FFF;
  color: white;
}
.bg-primary-dark {
  background-color: #004FD5;
  color: white;
}
.bg-secondary {
  background-color: #42E78A;
  color: #333;
}
.bg-secondary-light {
  background-color: #68FFB0;
  color: #333;
}
.bg-secondary-dark {
  background-color: #24C168;
  color: white;
}
.bg-info {
  background-color: #669DF4;
  color: white;
}
.bg-info-light {
  background-color: #92C7FF;
  color: #333;
}
.bg-info-dark {
  background-color: #4178CE;
  color: white;
}
.bg-success {
  background-color: #0ECD62;
  color: white;
}
.bg-success-light {
  background-color: #29F382;
  color: #333;
}
.bg-success-dark {
  background-color: #00A746;
  color: white;
}
.bg-warning {
  background-color: #FBAE13;
  color: #333;
}
.bg-warning-light {
  background-color: #FFD233;
  color: #333;
}
.bg-warning-dark {
  background-color: #D58C00;
  color: white;
}
.bg-danger {
  background-color: #DB292D;
  color: white;
}
.bg-danger-light {
  background-color: #FF464A;
  color: white;
}
.bg-danger-dark {
  background-color: #B50C10;
  color: white;
}
.bg-gray {
  background-color: #A0A0A0;
  color: white;
}
.bg-gray-light {
  background-color: #C6DADA;
  color: #333;
}
.bg-gray-dark {
  background-color: #7A6E6E;
  color: white;
}
.bg-black {
  background-color: #333;
  color: white;
}
/* Lists */
ul.unstyled,
ol.unstyled {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin: 0;
  display: -webkit-flex;
  display: flex;
  margin: 0 -1rem;
}
ul.inline li,
ol.inline li {
  display: block;
  padding: 0 1rem;
}
/* Images */
img.rounded {
  border-radius: 2px;
}
img.circle {
  border-radius: 50%;
}
img.bordered {
  padding: 3px;
  background-color: #FFF;
  border: 1px solid #ebebeb;
}
/* Typography */
body {
  line-height: 1.25;
}
body,
button,
input,
textarea,
select {
  font-family: 'Merriweather', serif;
}
a {
  color: #136DFB;
  transition: color 0.2s;
}
a:hover {
  color: #004FD5;
}
.ui.headline {
  font: 700 1.375rem 'PT Sans', sans-serif;
  line-height: 1.13636;
  margin: 1.5em 0 0.85em 0;
}
.ui.headline:first-child {
  margin-top: 0;
}
.ui.headline .sub {
  font-size: 0.85em;
  opacity: 0.75;
}
.ui.headline.large,
h1.ui.headline {
  font-size: 2rem;
  line-height: 1.25;
}
.ui.headline.medium,
h2.ui.headline {
  font-size: 1.625rem;
  line-height: 1.15385;
}
.ui.headline.small,
h4.ui.headline {
  font-size: 1.125rem;
  line-height: 1.11111;
}
.ui.headline.tiny,
h5.ui.headline {
  font-size: 1rem;
  line-height: 1.25;
}
h6.ui.headline {
  font-size: 1rem;
  line-height: 1.25;
}
.ui.prelude {
  font-size: 1.16875rem;
  line-height: 0.965906;
}
.ui.prelude + .ui.headline {
  margin-top: 0.25em;
}
@media screen and (min-width: 700px) {
  body {
    line-height: 1.375;
  }
  .ui.prelude {
    font-size: 1.275rem;
    line-height: 1.0625;
  }
  .ui.headline {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  .ui.headline.large,
  h1.ui.headline {
    font-size: 2.5rem;
    line-height: 1.125;
  }
  .ui.headline.medium,
  h2.ui.headline {
    font-size: 2rem;
    line-height: 1.25;
  }
  .ui.headline.small,
  h4.ui.headline {
    font-size: 1.125rem;
    line-height: 1.2222;
  }
  .ui.headline.tiny,
  h5.ui.headline {
    font-size: 1rem;
    line-height: 1.375;
  }
}
@media screen and (min-width: 960px) {
  body {
    line-height: 1.375;
  }
  .ui.prelude {
    font-size: 1.275rem;
    line-height: 1.0625;
  }
  .ui.headline {
    font-size: 1.75rem;
    line-height: 1.25;
  }
  .ui.headline.large,
  h1.ui.headline {
    font-size: 3rem;
    line-height: 1.05;
  }
  .ui.headline.medium,
  h2.ui.headline {
    font-size: 2.25rem;
    line-height: 1.25;
  }
  .ui.headline.small,
  h4.ui.headline {
    font-size: 1.125rem;
    line-height: 1.22222;
  }
  .ui.headline.tiny,
  h5.ui.headline {
    font-size: 1rem;
    line-height: 1.375;
  }
}
.lead {
  font-size: 1.25em;
}
/* Carets */
.caret {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
}
.caret:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -0.3125em;
  margin-left: -0.15625em;
  border-top: 0.3125em solid transparent;
  border-bottom: 0.3125em solid transparent;
  border-left: 0.3125em solid currentColor;
}
.ui.dropdown .caret,
.ui.menubar > .dropdown.item .caret {
  transform: rotate(90deg);
}
.ui.accordion .title .caret {
  margin-left: -0.21875em;
}
/* Responsive embed */
.ui.embed {
  position: relative;
}
.ui.embed > .ratio {
  height: 0;
}
.ui.embed > iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Dimmers and loaders */
.ui.dimmer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* Loader */
@-webkit-keyframes rotate-loader {
  from {
    -webkit-transition: rotate(0deg);
  }
  to {
    -webkit-transition: rotate(180deg);
  }
}
@keyframes rotate-loader {
  from {
    transition: rotate(0deg);
  }
  to {
    transition: rotate(180deg);
  }
}
.loader {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid transparent;
}
.loader:before {
  border-color: rgba(255, 255, 255, 0.5);
}
.loader:after {
  border-top-color: rgba(255, 255, 255, 0.5);
  animation: rotate-loader 1s linear infinite;
}
.ui.prelude {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'PT Sans', sans-serif;
}
/**/
/* Global variables */
/* Mixins */
.ui.grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.ui.grid > .column {
  padding: 0 1rem;
}
.ui.grid.one.column > .column,
.ui.grid.small-one.column > .column {
  width: 100%;
}
.ui.grid.two.column > .column,
.ui.grid.small-two.column > .column {
  width: 50%;
}
.ui.grid.three.column > .column,
.ui.grid.small-three.column > .column {
  width: 33.33333%;
}
.ui.grid.four.column > .column,
.ui.grid.small-four.column > .column {
  width: 25%;
}
.ui.grid.five.column > .column,
.ui.grid.small-five.column > .column {
  width: 20%;
}
.ui.grid.six.column > .column,
.ui.grid.small-six.column > .column {
  width: 16.66667%;
}
.ui.grid.seven.column > .column,
.ui.grid.small-seven.column > .column {
  width: 14.28571%;
}
.ui.grid.eight.column > .column,
.ui.grid.small-eight.column > .column {
  width: 12.5%;
}
.ui.grid.nine.column > .column,
.ui.grid.small-nine.column > .column {
  width: 11.11111%;
}
.ui.grid.ten.column > .column,
.ui.grid.small-ten.column > .column {
  width: 10%;
}
.ui.grid.eleven.column > .column,
.ui.grid.small-eleven.column > .column {
  width: 9.09091%;
}
.ui.grid.twelve.column > .column,
.ui.grid.small-twelve.column > .column {
  width: 8.33333%;
}
@media screen and (min-width: 700px) {
  .ui.grid.medium-one.column > .column {
    width: 100%;
  }
  .ui.grid.medium-two.column > .column {
    width: 50%;
  }
  .ui.grid.medium-three.column > .column {
    width: 33.33333%;
  }
  .ui.grid.medium-four.column > .column {
    width: 25%;
  }
  .ui.grid.medium-five.column > .column {
    width: 20%;
  }
  .ui.grid.medium-six.column > .column {
    width: 16.66667%;
  }
  .ui.grid.medium-seven.column > .column {
    width: 14.28571%;
  }
  .ui.grid.medium-eight.column > .column {
    width: 12.5%;
  }
  .ui.grid.medium-nine.column > .column {
    width: 11.11111%;
  }
  .ui.grid.medium-ten.column > .column {
    width: 10%;
  }
  .ui.grid.medium-eleven.column > .column {
    width: 9.09091%;
  }
  .ui.grid.medium-twelve.column > .column {
    width: 8.33333%;
  }
}
@media screen and (min-width: 960px) {
  .ui.grid.large-one.column > .column {
    width: 100%;
  }
  .ui.grid.large-two.column > .column {
    width: 50%;
  }
  .ui.grid.large-three.column > .column {
    width: 33.33333%;
  }
  .ui.grid.large-four.column > .column {
    width: 25%;
  }
  .ui.grid.large-five.column > .column {
    width: 20%;
  }
  .ui.grid.large-six.column > .column {
    width: 16.66667%;
  }
  .ui.grid.large-seven.column > .column {
    width: 14.28571%;
  }
  .ui.grid.large-eight.column > .column {
    width: 12.5%;
  }
  .ui.grid.large-nine.column > .column {
    width: 11.11111%;
  }
  .ui.grid.large-ten.column > .column {
    width: 10%;
  }
  .ui.grid.large-eleven.column > .column {
    width: 9.09091%;
  }
  .ui.grid.large-twelve.column > .column {
    width: 8.33333%;
  }
}
.ui.grid > .column.one.wide,
.ui.grid > .column.small-one.wide {
  width: 8.33333%;
}
.ui.grid > .column.two.wide,
.ui.grid > .column.small-two.wide {
  width: 16.66667%;
}
.ui.grid > .column.three.wide,
.ui.grid > .column.small-three.wide {
  width: 25%;
}
.ui.grid > .column.four.wide,
.ui.grid > .column.small-four.wide {
  width: 33.33333%;
}
.ui.grid > .column.five.wide,
.ui.grid > .column.small-five.wide {
  width: 41.66667%;
}
.ui.grid > .column.six.wide,
.ui.grid > .column.small-six.wide {
  width: 50%;
}
.ui.grid > .column.seven.wide,
.ui.grid > .column.small-seven.wide {
  width: 58.33333%;
}
.ui.grid > .column.eight.wide,
.ui.grid > .column.small-eight.wide {
  width: 66.66667%;
}
.ui.grid > .column.nine.wide,
.ui.grid > .column.small-nine.wide {
  width: 75%;
}
.ui.grid > .column.ten.wide,
.ui.grid > .column.small-ten.wide {
  width: 83.3333%;
}
.ui.grid > .column.eleven.wide,
.ui.grid > .column.small-eleven.wide {
  width: 91.66667%;
}
.ui.grid > .column.twelve.wide,
.ui.grid > .column.small-twelve.wide {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .ui.grid > .column.medium-one.wide {
    width: 8.33333%;
  }
  .ui.grid > .column.medium-two.wide {
    width: 16.66667%;
  }
  .ui.grid > .column.medium-three.wide {
    width: 25%;
  }
  .ui.grid > .column.medium-four.wide {
    width: 33.33333%;
  }
  .ui.grid > .column.medium-five.wide {
    width: 41.66667%;
  }
  .ui.grid > .column.medium-six.wide {
    width: 50%;
  }
  .ui.grid > .column.medium-seven.wide {
    width: 58.33333%;
  }
  .ui.grid > .column.medium-eight.wide {
    width: 66.66667%;
  }
  .ui.grid > .column.medium-nine.wide {
    width: 75%;
  }
  .ui.grid > .column.medium-ten.wide {
    width: 83.3333%;
  }
  .ui.grid > .column.medium-eleven.wide {
    width: 91.66667%;
  }
  .ui.grid > .column.medium-twelve.wide {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .ui.grid > .column.large-one.wide {
    width: 8.33333%;
  }
  .ui.grid > .column.large-two.wide {
    width: 16.66667%;
  }
  .ui.grid > .column.large-three.wide {
    width: 25%;
  }
  .ui.grid > .column.large-four.wide {
    width: 33.33333%;
  }
  .ui.grid > .column.large-five.wide {
    width: 41.66667%;
  }
  .ui.grid > .column.large-six.wide {
    width: 50%;
  }
  .ui.grid > .column.large-seven.wide {
    width: 58.33333%;
  }
  .ui.grid > .column.large-eight.wide {
    width: 66.66667%;
  }
  .ui.grid > .column.large-nine.wide {
    width: 75%;
  }
  .ui.grid > .column.large-ten.wide {
    width: 83.3333%;
  }
  .ui.grid > .column.large-eleven.wide {
    width: 91.66667%;
  }
  .ui.grid > .column.large-twelve.wide {
    width: 100%;
  }
}
/**/
/* Global variables */
/* Mixins */
/* Form variables */
/* Input attachment variables */
/* Forms */
label {
  cursor: pointer;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  outline: none;
  background: white;
  border: 1px solid #ebebeb;
  padding: 0.75em 1em;
  box-shadow: none;
  border-radius: 2px;
  color: #333;
  margin: 0;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
}
input[type="email"].fluid,
input[type="number"].fluid,
input[type="password"].fluid,
input[type="search"].fluid,
input[type="tel"].fluid,
input[type="text"].fluid,
input[type="url"].fluid,
textarea.fluid {
  width: 100%;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #c0c0c0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06);
  color: #333;
}
input[type="email"].success,
input[type="number"].success,
input[type="password"].success,
input[type="search"].success,
input[type="tel"].success,
input[type="text"].success,
input[type="url"].success,
textarea.success {
  border-color: #0ECD62;
  color: #21804b;
}
input[type="email"].warning,
input[type="number"].warning,
input[type="password"].warning,
input[type="search"].warning,
input[type="tel"].warning,
input[type="text"].warning,
input[type="url"].warning,
textarea.warning {
  border-color: #FBAE13;
  color: #977123;
}
input[type="email"].error,
input[type="number"].error,
input[type="password"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="text"].error,
input[type="url"].error,
textarea.error {
  border-color: #DB292D;
  color: #872e30;
}
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="url"]:disabled,
textarea:disabled {
  background: #ebebeb;
  border-color: #c0c0c0;
  box-shadow: none;
  color: rgba(51, 51, 51, 0.5);
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  padding-left: 24px;
  position: relative;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before,
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  width: 16px;
  height: 16px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
}
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #669DF4;
  opacity: 0;
  transition: opacity 0.2s;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}
input[type="radio"] + label:before,
input[type="radio"] + label:after {
  border-radius: 50%;
}
input[type="radio"] + label:after {
  width: 8px;
  height: 8px;
  margin: auto 4px;
}
/* Input with attachements */
.ui.input {
  display: -webkit-inline-flex;
  display: inline-flex;
  vertical-align: middle;
}
.ui.input input {
  border-radius: 0;
}
.ui.input.fluid {
  display: -webkit-flex;
  display: flex;
  margin: 1em 0;
}
.ui.input.fluid input {
  flex-grow: 2;
}
.ui.input > .attachment {
  border: 1px solid #A0A0A0;
  background: #E6E6E6;
  padding: 0.75em 1em;
}
.ui.input > :first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ui.input > :last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.menubar > .item > input[type="email"],
.menubar > .item > input[type="number"],
.menubar > .item > input[type="password"],
.menubar > .item > input[type="search"],
.menubar > .item > input[type="tel"],
.menubar > .item > input[type="text"],
.menubar > .item > input[type="url"] {
  margin: -0.75em -1em;
}
/**/
/* Global variables */
/* Mixins */
/* Button variables */
/* Close button variables */
/* Buttons */
.ui.button {
  display: inline-block;
  margin: 4px;
  padding: 0.65em 1.25em;
  border-radius: 2px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
}
.ui.button.fluid {
  width: 100%;
  text-align: center;
}
.ui.button.large {
  font-size: 1.25em;
}
.ui.button:not(.outline) {
  background-color: #A0A0A0;
}
.ui.button:not(.outline).primary {
  background-color: #136DFB;
  color: #fff;
}
.ui.button:not(.outline).primary:hover {
  background-color: #004FD5;
}
.ui.button:not(.outline).secondary {
  background-color: #42E78A;
  color: #333;
}
.ui.button:not(.outline).secondary:hover {
  background-color: #24C168;
}
.ui.button:not(.outline).info {
  background-color: #669DF4;
  color: #fff;
}
.ui.button:not(.outline).info:hover {
  background-color: #4178CE;
}
.ui.button:not(.outline).success,
.ui.button:not(.outline).positive {
  background-color: #0ECD62;
  color: #fff;
}
.ui.button:not(.outline).success:hover,
.ui.button:not(.outline).positive:hover {
  background-color: #00A746;
}
.ui.button:not(.outline).warning {
  background-color: #FBAE13;
  color: #333;
}
.ui.button:not(.outline).warning:hover {
  background-color: #D58C00;
}
.ui.button:not(.outline).danger,
.ui.button:not(.outline).negative {
  background-color: #DB292D;
  color: #fff;
}
.ui.button:not(.outline).danger:hover,
.ui.button:not(.outline).negative:hover {
  background-color: #B50C10;
}
.ui.button:not(.outline).white {
  background-color: white;
  color: #333;
}
.ui.button:not(.outline).white:hover {
  background-color: #fafafa;
}
.ui.button.outline.primary {
  box-shadow: inset 0 0 0 1px #136DFB;
  color: #136DFB;
}
.ui.button.outline.primary:hover {
  box-shadow: inset 0 0 0 1px #004FD5;
  color: #004FD5;
}
.ui.button.outline.secondary {
  box-shadow: inset 0 0 0 1px #42E78A;
  color: #42E78A;
}
.ui.button.outline.secondary:hover {
  box-shadow: inset 0 0 0 1px #24C168;
  color: #24C168;
}
.ui.button.outline.info {
  box-shadow: inset 0 0 0 1px #669DF4;
  color: #669DF4;
}
.ui.button.outline.info:hover {
  box-shadow: inset 0 0 0 1px #4178CE;
  color: #4178CE;
}
.ui.button.outline.success,
.ui.button.outline.positive {
  box-shadow: inset 0 0 0 1px #0ECD62;
  color: #0ECD62;
}
.ui.button.outline.success:hover,
.ui.button.outline.positive:hover {
  box-shadow: inset 0 0 0 1px #00A746;
  color: #00A746;
}
.ui.button.outline.warning {
  box-shadow: inset 0 0 0 1px #FBAE13;
  color: #FBAE13;
}
.ui.button.outline.warning:hover {
  box-shadow: inset 0 0 0 1px #D58C00;
  color: #D58C00;
}
.ui.button.outline.danger,
.ui.button.outline.negative {
  box-shadow: inset 0 0 0 1px #DB292D;
  color: #DB292D;
}
.ui.button.outline.danger:hover,
.ui.button.outline.negative:hover {
  box-shadow: inset 0 0 0 1px #B50C10;
  color: #B50C10;
}
.ui.button.outline.white {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.85);
  color: rgba(255, 255, 255, 0.85);
}
.ui.button.outline.white:hover {
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
}
button.ui.button,
input.ui.button {
  -webkit-appearance: none;
  border: none;
  outline: none;
}
a.ui.button {
  text-decoration: none;
}
.ui.buttons {
  display: -webkit-inline-flex;
  display: inline-flex;
}
.ui.buttons .ui.button {
  border-radius: 0;
  margin: 0;
}
.ui.buttons .ui.button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ui.buttons .ui.button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.menubar > .item > .ui.button {
  margin: -0.65em -1.25em;
}
.ui.card .ui.button {
  margin-left: 0;
  margin-bottom: 4px !important;
}
/* Close button */
.close.button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.close.button:before,
.close.button:after {
  content: "";
  display: block;
  position: absolute;
  background-color: currentColor;
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
  margin-top: -1px;
}
.close.button:before {
  transform: rotate(45deg);
}
.close.button:after {
  transform: rotate(135deg);
}
.close.button:hover {
  opacity: 0.8;
}
button.close.button {
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: none;
}
/**/
/* Global variables */
/* Mixins */
/* Menubar variables */
/* Menu bar */
.ui.menubar {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.ui.menubar.fluid {
  display: -webkit-flex;
  display: flex;
}
.ui.menubar > .item,
.ui.menubar > .item > a {
  display: block;
  padding: 0.65em 1em;
  text-decoration: none;
  font-weight: 700;
}
.ui.menubar > .item {
  position: relative;
  background: transparent;
}
.ui.menubar > .item > a {
  transition: color 0.2s;
}
.ui.menubar > .item,
.ui.menubar > .item > a {
  transition: color 0.2s, background-color 0.2s;
  color: #333;
}
.ui.menubar > .item > a {
  margin: -0.65em -1em;
}
.ui.menubar > a.item:hover,
.ui.menubar > li.item:hover > a {
  background: rgba(0, 0, 0, 0.05);
  color: #1a1a1a;
}
.ui.menubar > .item.active {
  background: rgba(0, 0, 0, 0.05);
}
.ui.menubar > .item.active,
.ui.menubar > .item.active > a {
  color: #136DFB;
}
.ui.menubar.line > .item,
.ui.menubar.line > .item > a {
  background: none !important;
}
.ui.menubar.line > .item:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 2em);
  height: 2px;
  margin: 0 auto;
  background-color: transparent;
}
.ui.menubar.line > .item:hover:after {
  background-color: rgba(0, 0, 0, 0.05);
}
.ui.menubar.line > .item.active:after {
  background-color: #136DFB;
}
.ui.menubar.divided > .item + .item {
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
.topbar .ui.menubar {
  margin: 0 -1em;
}
/**/
/* Global variables */
/* Mixins */
/* Menu variables */
/* Menu (list) */
.ui.menu {
  margin: 0;
  padding: 4px 0 4px 0;
}
.ui.menu > .item,
.ui.menu > .item > a {
  display: block;
  padding: 0.75em 1em;
  font-weight: normal;
}
.ui.menu > .item {
  position: relative;
  background: transparent;
  transition: color 0.2s, background-color 0.2s;
}
.ui.menu > .item > a {
  transition: color 0.2s;
}
.ui.menu > .item,
.ui.menu > .item > a {
  color: #333;
  text-decoration: none;
}
.ui.menu > .item:hover {
  background: rgba(0, 0, 0, 0.05);
}
.ui.menu > .item:hover,
.ui.menu > .item:hover > a {
  color: #1a1a1a;
}
.ui.menu > .item.active {
  background: rgba(0, 0, 0, 0.05);
}
.ui.menu > .item.active,
.ui.menu > .item.active > a {
  color: #136DFB;
}
.ui.menu > .item > a {
  margin: -0.75em -1em;
}
.ui.menu > .divider {
  margin: 4px 0 4px 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.06);
}
.ui.menu.divided > .item + .item {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
ul.ui.menu,
ol.ui.menu {
  list-style: none;
}
/**/
/* Global variables */
/* Mixins */
/* Dropdown variables */
/* Dropdown */
.ui.dropdown {
  display: inline-block;
}
.ui.dropdown,
.ui.menubar > .dropdown.item {
  position: relative;
}
.ui.dropdown > .ui.menu,
.ui.menubar > .dropdown.item > .ui.menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  white-space: nowrap;
  background: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: transform 0.3s, opacity 0.3s;
}
.ui.dropdown:hover > .ui.menu,
.ui.menubar > .dropdown.item:hover > .ui.menu {
  transform: none;
  opacity: 1;
  pointer-events: auto;
}
/**/
/* Global variables */
/* Mixins */
/* Pagination variables */
/* Pagination */
.ui.pagination {
  display: -webkit-flex;
  display: flex;
  margin: 1em 0;
  padding: 0;
}
.ui.pagination a {
  text-decoration: none;
}
.ui.pagination.inline {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin: 0;
}
.ui.pagination > .item,
.ui.pagination > .item > a,
.ui.pagination > .dots {
  display: block;
  text-align: center;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}
.ui.pagination > .item {
  box-shadow: inset 0 0 0 1px #A0A0A0;
  transition: box-shadow 0.2s, color 0.2s;
  border-radius: 2px;
}
.ui.pagination > .item,
.ui.pagination > .item > a {
  color: #333;
}
.ui.pagination > .item:hover {
  box-shadow: inset 0 0 0 1px #136DFB;
}
.ui.pagination > .item:hover,
.ui.pagination > .item:hover > a {
  color: #136DFB;
}
.ui.pagination > .item.active {
  box-shadow: inset 0 0 0 1px #136DFB;
}
.ui.pagination > .item.active,
.ui.pagination > .item.active > a {
  color: #136DFB;
}
.ui.pagination > .item.disabled {
  box-shadow: inset 0 0 0 1px #A0A0A0;
}
.ui.pagination > .item.disabled,
.ui.pagination > .item.disabled > a {
  color: #A0A0A0;
}
.ui.pagination > .dots:after {
  content: "...";
  display: inline;
}
/**/
/* Global variables */
/* Mixins */
/* Breadcrumbs variables */
/* Breadcrumbs */
.ui.breadcrumbs {
  display: -webkit-flex;
  display: flex;
  margin: 1em 0;
  padding: 0;
}
.ui.breadcrumbs a {
  text-decoration: none;
}
.ui.breadcrumbs.inline {
  display: -webkit-inline-flex;
  display: inline-flex;
  margin: 0;
}
.ui.breadcrumbs > .item {
  display: block;
}
.ui.breadcrumbs > .item + .item {
  margin-left: 1rem;
}
.ui.breadcrumbs > .item + .item:before {
  content: "/";
  display: inline-block;
  margin-right: 1rem;
  color: #A0A0A0;
}
/**/
/* Global variables */
/* Mixins */
/* Topbar variables */
/* Topbar */
.ui.topbar {
  position: relative;
  background: transparent;
  color: #333;
  box-shadow: none;
  transition: color 0.3s, background 0.3s, box-shadow 0.3s;
}
.ui.topbar.fixed {
  position: fixed;
}
.ui.topbar.absolute {
  position: absolute;
}
.ui.topbar.fixed,
.ui.topbar.absolute {
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.ui.topbar.flex > .ui.container {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 1rem;
}
.ui.topbar > .meta {
  background: rgba(0, 0, 0, 0.12);
  color: #333;
  font-size: 0.85em;
}
.ui.topbar > .meta > .container {
  padding: 0.25rem 1rem;
}
.ui.topbar.scrolled {
  background: white;
  color: #136DFB;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.06);
}
/**/
/* Global variables */
/* Mixins */
/* Accordion */
.ui.accordion .title {
  cursor: pointer;
}
.ui.accordion .title .caret {
  transition: transform 0.3s;
}
.ui.accordion .title .caret.right {
  float: right;
  transform: rotate(180deg);
}
.ui.accordion .title.active .caret {
  transform: rotate(90deg);
}
.ui.accordion .content {
  transition: height 0.3s cubic-bezier(0.65, 0, 0, 1);
  overflow: hidden;
}
.ui.accordion .content.noanim {
  transition: none;
}
/**/
/* Global variables */
/* Mixins */
/* Message variables */
/* Message */
.ui.message {
  position: relative;
  padding: 0.85em 1em;
  background-color: #E6E6E6;
  border: 1px solid #A0A0A0;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  margin: 1em 0;
}
.ui.message.primary {
  background-color: #E6EFFF;
  border-color: #136DFB;
}
.ui.message.secondary {
  background-color: #E6FFF1;
  border-color: #42E78A;
}
.ui.message.info {
  background-color: #E6EFFF;
  border-color: #669DF4;
}
.ui.message.success,
.ui.message.positive {
  background-color: #E6FFF1;
  border-color: #0ECD62;
}
.ui.message.warning {
  background-color: #FFF7E6;
  border-color: #FBAE13;
}
.ui.message.danger,
.ui.message.negative,
.ui.message.error {
  background-color: #FFE5E6;
  border-color: #DB292D;
}
/**/
/* Global variables */
/* Mixins */
/* Card variables */
/* Card */
.ui.card {
  display: block;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
}
.ui.card .content {
  padding: 0.75em 1em;
}
.ui.card .content :first-child {
  margin-top: 0;
}
.ui.card .content :last-child {
  margin-bottom: 0;
}
.ui.card .content + .content,
.ui.card .image + .content {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.ui.card .content[class^="bg-"],
.ui.card .content[class*=" bg-"] {
  border-top: none !important;
}
.ui.card .content[class^="bg-"] + .content,
.ui.card .content[class*=" bg-"] + .content {
  border-top: none;
}
.ui.card .image img {
  display: block;
  width: 100%;
}
/**/
/* Global variables */
/* Mixins */
/* Media variables */
/* Media object */
.ui.media {
  position: relative;
}
.ui.media .image {
  width: 40%;
  float: right;
  padding: 0 0 1rem 1rem;
}
.ui.media .image img {
  width: 100%;
  display: block;
}
.ui.media + .ui.media {
  margin-top: 2rem;
  padding-top: 2rem;
}
.ui.media + .ui.media:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 1rem;
  left: 1rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.06);
}
@media screen and (min-width: 700px) {
  .ui.media {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 -1rem;
  }
  .ui.media .image,
  .ui.media .content {
    padding: 0 1rem;
  }
  .ui.media .image {
    width: 16.66667%;
  }
  .ui.media .content {
    width: 83.33333%;
  }
}
/**/
/* Global variables */
/* Mixins */
/* Table variables */
/* Table */
.ui.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}
.ui.table th,
.ui.table td {
  padding: 1rem 1.5rem;
  text-align: left;
}
.ui.table.dense th,
.ui.table.dense td {
  padding: 0.5rem 0.75rem;
}
.ui.table.outdented {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  width: calc(100% + 3rem);
}
.ui.table.outdented.dense {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  width: calc(100% + 1.5rem);
}
.ui.table.striped tbody tr:nth-child(odd) {
  background: transparent;
}
.ui.table.striped tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.ui.table.divided th,
.ui.table.divided td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.ui.table.divided tbody tr:last-child td {
  border-bottom: 0;
}
.ui.table.divided tfoot td,
.ui.table.divided tfoot th {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: none;
}
/**/
/* Global variables */
/* Mixins */
/* Tabs variables */
/* Tabs */
.ui.tabs {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ui.tabs > .tabbar {
  display: -webkit-flex;
  display: flex;
}
.ui.tabs > .tabbar .tab {
  padding: 0.75rem 1rem;
  background: transparent;
  color: #333;
  font-weight: normal;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}
.ui.tabs > .tabbar .tab:hover {
  color: #1a1a1a;
}
.ui.tabs > .tabbar .tab.active {
  color: #136DFB;
  font-weight: 700;
}
.ui.tabs > .tabbar:not(.striped) {
  background: #ebebeb;
}
.ui.tabs > .tabbar:not(.striped) .tab {
  margin: 2px;
  border-radius: 2px;
}
.ui.tabs > .tabbar:not(.striped) .tab:hover {
  background: rgba(255, 255, 255, 0.33);
}
.ui.tabs > .tabbar:not(.striped) .tab.active {
  background: #fff;
}
.ui.tabs.top > .tabbar .tab {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ui.tabs.top > .tabbar.striped {
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
}
.ui.tabs.top > .tabbar.striped .tab {
  border-bottom: 3px solid transparent;
  margin-bottom: -3px !important;
}
.ui.tabs.top > .tabbar.striped .tab:hover {
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.ui.tabs.top > .tabbar.striped .tab.active {
  border-bottom-color: #136DFB;
}
.ui.tabs.right {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.ui.tabs.right > .tabbar {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ui.tabs.right > .tabbar .tab {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ui.tabs.right > .tabbar.striped {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
}
.ui.tabs.right > .tabbar.striped .tab {
  border-left: 3px solid transparent;
  margin-left: -3px !important;
}
.ui.tabs.right > .tabbar.striped .tab:hover {
  border-left-color: rgba(0, 0, 0, 0.12);
}
.ui.tabs.right > .tabbar.striped .tab.active {
  border-left-color: #136DFB;
}
.ui.tabs.bottom {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.ui.tabs.bottom > .tabbar .tab {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ui.tabs.bottom > .tabbar.striped {
  border-top: 3px solid rgba(0, 0, 0, 0.12);
}
.ui.tabs.bottom > .tabbar.striped .tab {
  border-top: 3px solid transparent;
  margin-top: -3px !important;
}
.ui.tabs.bottom > .tabbar.striped .tab:hover {
  border-top-color: rgba(0, 0, 0, 0.12);
}
.ui.tabs.bottom > .tabbar.striped .tab.active {
  border-top-color: #136DFB;
}
.ui.tabs.left {
  -webkit-flex-direction: row;
  flex-direction: row;
}
.ui.tabs.left > .tabbar {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ui.tabs.left > .tabbar .tab {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ui.tabs.left > .tabbar.striped {
  border-right: 3px solid rgba(0, 0, 0, 0.12);
}
.ui.tabs.left > .tabbar.striped .tab {
  border-right: 3px solid transparent;
  margin-right: -3px !important;
}
.ui.tabs.left > .tabbar.striped .tab:hover {
  border-right-color: rgba(0, 0, 0, 0.12);
}
.ui.tabs.left > .tabbar.striped .tab.active {
  border-right-color: #136DFB;
}
.ui.tabs > .panels {
  flex-grow: 1;
}
.ui.tabs > .panels > .panel {
  display: none;
  padding: 1rem;
}
.ui.tabs > .panels > .panel.active {
  display: block;
}
/**/
/* Global variables */
/* Mixins */
/* Badge */
.ui.badge {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.65em;
  min-width: 2em;
  height: 2em;
  line-height: 2;
  border-radius: 1em;
  text-align: center;
  font-weight: 700;
  padding: 0 4px;
}
.ui.badge.primary {
  background-color: #136DFB;
  color: #fff;
}
.ui.badge.secondary {
  background-color: #42E78A;
  color: #333;
}
.ui.badge.info {
  background-color: #669DF4;
  color: #fff;
}
.ui.badge.success,
.ui.badge.positive {
  background-color: #0ECD62;
  color: #fff;
}
.ui.badge.warning {
  background-color: #FBAE13;
  color: #333;
}
.ui.badge.danger,
.ui.badge.negative {
  background-color: #DB292D;
  color: #fff;
}
/**/
/* Global variables */
/* Mixins */
/* Label variables */
/* Label */
.ui.label {
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  padding: 0.25em 0.75em;
  border-radius: 2px;
}
.ui.label.primary {
  background-color: #136DFB;
  color: #fff;
}
.ui.label.secondary {
  background-color: #42E78A;
  color: #333;
}
.ui.label.info {
  background-color: #669DF4;
  color: #fff;
}
.ui.label.success,
.ui.label.positive {
  background-color: #0ECD62;
  color: #fff;
}
.ui.label.warning {
  background-color: #FBAE13;
  color: #333;
}
.ui.label.danger,
.ui.label.negative {
  background-color: #DB292D;
  color: #fff;
}
/**/
/* Global variables */
/* Mixins */
/* Progress bar variables */
/* Progress bar */
.ui.progress {
  height: 0.85em;
  border-radius: 2px;
  background: #ebebeb;
  overflow: hidden;
}
.ui.progress .bar {
  height: 100%;
  color: white;
  font-size: 0.6375em;
  text-align: right;
  padding-right: 5px;
  font-weight: 700;
}
.ui.progress.primary .bar,
.ui.progress .bar.primary {
  background-color: #136DFB;
  color: #fff;
}
.ui.progress.secondary .bar,
.ui.progress .bar.secondary {
  background-color: #42E78A;
  color: #333;
}
.ui.progress.info .bar,
.ui.progress .bar.info {
  background-color: #669DF4;
  color: #fff;
}
.ui.progress.success .bar,
.ui.progress .bar.success {
  background-color: #0ECD62;
  color: #fff;
}
.ui.progress.warning .bar,
.ui.progress .bar.warning {
  background-color: #FBAE13;
  color: #333;
}
.ui.progress.danger .bar,
.ui.progress .bar.danger {
  background-color: #DB292D;
  color: #fff;
}
/**/
/* Global variables */
/* Mixins */
/* Banner variables */
/* Banners */
.ui.banner {
  position: relative;
  height: 250px;
}
.ui.banner .image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  transition: opacity 0.2s;
}
.ui.banner .caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 2rem;
  z-index: 1;
}
.ui.banner .caption.top {
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.ui.banner .caption.right {
  top: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}
.ui.banner .caption.bottom {
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}
.ui.banner .caption.left {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.ui.banner .caption :first-child {
  margin-top: 0;
}
.ui.banner .caption :last-child {
  margin-bottom: 0;
}
.ui.banner[href]:hover .image {
  opacity: 0.9;
}
/**/
/* Global variables */
/* Mixins */
/* Range slider variables */
/* Range slider */
.ui.rangeslider {
  position: relative;
  margin: 24px 0 10px 0;
  height: 2px;
  background: #ebebeb;
}
.ui.rangeslider .bar {
  position: relative;
  height: 100%;
  background: #136DFB;
}
.ui.rangeslider .handle {
  position: absolute;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  border-radius: 50%;
  cursor: -webkit-grab;
  cursor: grab;
}
.ui.rangeslider .label {
  position: absolute;
  top: -24px;
  width: 40px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-left: -20px;
  background: #ebebeb;
  color: #333;
}
.ui.rangeslider .label:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
  border-top: 4px solid #ebebeb;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
/**/
/* Global variables */
/* Mixins */
/* Segmented control variables */
/* Segmented control */
.ui.segmented {
  display: webkit-inline-flex;
  display: inline-flex;
  box-shadow: 0 0 0 1px #A0A0A0;
  border-radius: 2px;
  color: #A0A0A0;
}
.ui.segmented.fluid {
  display: -webkit-flex;
  display: flex;
}
.ui.segmented.fluid > .item {
  flex: 1 1 100%;
  text-align: center;
}
.ui.segmented > .item {
  padding: 0.5em 0.75em;
  cursor: pointer;
}
.ui.segmented > .item + .item {
  border-left: 1px solid #A0A0A0;
  color: inherit;
}
.ui.segmented > .item.active {
  background-color: #A0A0A0;
  color: white;
}
.ui.segmented.primary {
  color: #136DFB;
  box-shadow: 0 0 0 1px #136DFB;
}
.ui.segmented.primary > .item + .item {
  border-left-color: #136DFB;
}
.ui.segmented.primary > .active.item {
  background-color: #136DFB;
  color: white;
}
.ui.segmented.secondary {
  color: #42E78A;
  box-shadow: 0 0 0 1px #42E78A;
}
.ui.segmented.secondary > .item + .item {
  border-left-color: #42E78A;
}
.ui.segmented.secondary > .active.item {
  background-color: #42E78A;
  color: #333;
}
.ui.segmented.info {
  color: #669DF4;
  box-shadow: 0 0 0 1px #669DF4;
}
.ui.segmented.info > .item + .item {
  border-left-color: #669DF4;
}
.ui.segmented.info > .active.item {
  background-color: #669DF4;
  color: white;
}
.ui.segmented.success {
  color: #0ECD62;
  box-shadow: 0 0 0 1px #0ECD62;
}
.ui.segmented.success > .item + .item {
  border-left-color: #0ECD62;
}
.ui.segmented.success > .active.item {
  background-color: #0ECD62;
  color: white;
}
.ui.segmented.warning {
  color: #FBAE13;
  box-shadow: 0 0 0 1px #FBAE13;
}
.ui.segmented.warning > .item + .item {
  border-left-color: #FBAE13;
}
.ui.segmented.warning > .active.item {
  background-color: #FBAE13;
  color: #333;
}
.ui.segmented.danger {
  color: #DB292D;
  box-shadow: 0 0 0 1px #DB292D;
}
.ui.segmented.danger > .item + .item {
  border-left-color: #DB292D;
}
.ui.segmented.danger > .active.item {
  background-color: #DB292D;
  color: white;
}
/**/
/* Global variables */
/* Mixins */
/* Tooltip variables */
.ui-tooltipped {
  position: relative;
}
.ui.tooltip {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 0.75rem;
  border-radius: 2px;
  white-space: nowrap;
  pointer-events: none;
}
.ui.tooltip:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.ui-tooltipped:hover .ui.tooltip {
  opacity: 1;
  transform: translateX(-50%);
}
/**/
/* Global variables */
/* Mixins */
.ui.pricing {
  display: -webkit-flex;
  display: flex;
}
.ui.pricing .item {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  text-align: center;
  position: relative;
}
.ui.pricing .item.highlighted {
  z-index: 10;
  top: -1.25em;
}
.ui.pricing .item.highlighted .ui.card > :first-child {
  padding-top: 2em;
}
.ui.pricing .ui.headline {
  margin: 0.1em 0 0 0 !important;
  padding-top: 0 !important;
}
.ui.pricing .price {
  font-size: 2.5em;
  font-weight: 700;
}
/**/
/* Global variables */
/* Mixins */
.ui.teaser {
  text-align: left;
}
.ui.teaser img {
  width: 100%;
}
.ui.teaser img + * {
  margin-top: 16px !important;
}
.ui.teaser .ui.headline {
  margin-bottom: 0.5em;
}
.ui.box {
  padding: 1rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
}
.ui.box img.stretched {
  margin: -1rem -1rem 0 -1rem;
  width: calc(100% + 2rem);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/**/
/* Global variables */
/* Mixins */
/* Offcanvas variables */
.ui.offcanvas {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.3s cubic-bezier(0.65, 0, 0, 1);
}
.ui.offcanvas.overlay {
  z-index: 1000;
}
.ui.offcanvas.reveal + .pusher,
.ui.offcanvas.push + .pusher {
  position: relative;
  min-height: 100vh;
  z-index: 10;
  background-color: white;
  transition: transform 0.3s cubic-bezier(0.65, 0, 0, 1);
}
.ui.offcanvas.top {
  top: 0;
  right: 0;
  left: 0;
  height: 240px;
}
.ui.offcanvas.top:not(.reveal) {
  transform: translateY(-100%);
}
.ui.offcanvas.right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 240px;
}
.ui.offcanvas.right:not(.reveal) {
  transform: translateX(100%);
}
.ui.offcanvas.bottom {
  right: 0;
  bottom: 0;
  left: 0;
  height: 240px;
}
.ui.offcanvas.bottom:not(.reveal) {
  transform: translateY(100%);
}
.ui.offcanvas.left {
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
}
.ui.offcanvas.left:not(.reveal) {
  transform: translateX(-100%);
}
.ui.offcanvas.visible {
  transform: none !important;
}
.ui.offcanvas.visible.top.reveal + .pusher,
.ui.offcanvas.visible.top.push + .pusher {
  transform: translateY(240px);
}
.ui.offcanvas.visible.right.reveal + .pusher,
.ui.offcanvas.visible.right.push + .pusher {
  transform: translateX(-240px);
}
.ui.offcanvas.visible.bottom.reveal + .pusher,
.ui.offcanvas.visible.bottom.push + .pusher {
  transform: translateY(-240px);
}
.ui.offcanvas.visible.left.reveal + .pusher,
.ui.offcanvas.visible.left.push + .pusher {
  transform: translateX(240px);
}
/**/
/* Global variables */
/* Mixins */
.ui.hamburger {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  transition: transform 0.3s;
}
.ui.hamburger .bar {
  display: block;
  height: 0.08333em;
  background-color: currentColor;
  margin-top: 0.16666em;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 1px;
}
.ui.hamburger .bar + .bar {
  margin-top: 0.20833em;
}
.ui.hamburger.cross {
  transform: rotate(180deg);
}
.ui.hamburger.cross .bar:first-child {
  transform: translateY(0.29166em) rotate(45deg);
}
.ui.hamburger.cross .bar:nth-child(2) {
  opacity: 0;
}
.ui.hamburger.cross .bar:last-child {
  transform: translateY(-0.29166em) rotate(-45deg);
}
/**/
/* Global variables */
/* Mixins */
/* Shopping cart variables */
.ui.shoppingcart .header {
  display: none;
  justify-content: flex-end;
}
.ui.shoppingcart .header .quantity {
  width: 18.75%;
  text-align: center;
}
.ui.shoppingcart .header .unitprice,
.ui.shoppingcart .header .totalprice {
  width: 12.5%;
  text-align: right;
}
.ui.shoppingcart .header .quantity,
.ui.shoppingcart .header .unitprice,
.ui.shoppingcart .header .totalprice {
  padding: 0 1rem;
  font-weight: 700;
}
.ui.shoppingcart .item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.ui.shoppingcart .item > * {
  padding: 0 1rem;
}
.ui.shoppingcart .item .image {
  order: 3;
  width: 50%;
}
.ui.shoppingcart .item .image img {
  width: 100%;
}
.ui.shoppingcart .item > .title {
  order: 1;
  width: 80%;
  padding-bottom: 0.5em;
}
.ui.shoppingcart .item .title {
  font-weight: 700;
}
.ui.shoppingcart .item .title .title + p {
  margin-top: 0;
}
.ui.shoppingcart .item .content {
  order: 6;
  width: 100%;
  padding-top: 0.5em;
}
.ui.shoppingcart .item .content .title {
  display: none;
}
.ui.shoppingcart .item .remove {
  order: 2;
  width: 20%;
  text-align: right;
}
.ui.shoppingcart .item .quantity {
  order: 4;
  width: 20%;
  text-align: center;
}
.ui.shoppingcart .item .prices {
  order: 5;
  width: 30%;
}
.ui.shoppingcart .item .unitprice {
  padding-right: 1rem;
}
.ui.shoppingcart .item .unitprice,
.ui.shoppingcart .item .totalprice {
  text-align: right;
}
.ui.shoppingcart .item .totalprice {
  font-weight: 700;
}
.ui.shoppingcart .item:first-child,
.ui.shoppingcart .header + .item {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.ui.shoppingcart .footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  margin: 0 -1rem;
}
.ui.shoppingcart .footer .quantity {
  width: 18.75%;
}
.ui.shoppingcart .footer .unitprice,
.ui.shoppingcart .footer .totalprice {
  width: 12.5%;
}
.ui.shoppingcart .footer .label,
.ui.shoppingcart .footer .totalprice {
  font-weight: 700;
}
.ui.shoppingcart .footer .unitprice,
.ui.shoppingcart .footer .totalprice,
.ui.shoppingcart .footer .label,
.ui.shoppingcart .footer .quantity {
  padding: 0 1rem;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .ui.shoppingcart .header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    padding-bottom: 1rem;
  }
  .ui.shoppingcart .item .image,
  .ui.shoppingcart .item > .title,
  .ui.shoppingcart .item .content,
  .ui.shoppingcart .item .remove,
  .ui.shoppingcart .item .quantity,
  .ui.shoppingcart .item .prices {
    order: unset;
  }
  .ui.shoppingcart .item .image {
    width: 20%;
  }
  .ui.shoppingcart .item > .title {
    display: none;
  }
  .ui.shoppingcart .item .content {
    width: 30%;
    padding-top: 0;
  }
  .ui.shoppingcart .item .content .title {
    display: block;
  }
  .ui.shoppingcart .item .remove {
    width: 6.25%;
  }
  .ui.shoppingcart .item .quantity {
    width: 18.75%;
  }
  .ui.shoppingcart .item .prices {
    display: flex;
    width: 25%;
  }
  .ui.shoppingcart .item .unitprice,
  .ui.shoppingcart .item .totalprice {
    width: 50%;
  }
}
/**/
/* Global variables */
/* Mixins */
.ui.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui.header .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}
.ui.header .cover.semitransparent {
  opacity: 0.8;
}
.ui.header .ui.caption.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  height: 100%;
  text-align: center;
  padding: 1rem;
}
.ui.header .ui.caption.container.left {
  justify-content: flex-start;
  text-align: left;
}
.ui.header .ui.caption.container.right {
  justify-content: flex-end;
  text-align: right;
}
.ui.header .ui.caption.container.top {
  align-items: flex-start;
}
.ui.header .ui.caption.container.bottom {
  align-items: flex-end;
}
.ui.header .caption:not(.ui.container) {
  max-width: 80%;
}
.ui.header .caption:not(.ui.container) .ui.headline {
  margin-bottom: 0.25em;
}
.ui.header.fullscreen {
  height: 100vh;
}
.ui.small.header {
  height: 160px;
}
.ui.medium.header {
  height: 240px;
}
.ui.large.header {
  height: 320px;
}
@media screen and (min-width: 700px) {
  .ui.small.header {
    height: 240px;
  }
  .ui.medium.header {
    height: 320px;
  }
  .ui.large.header {
    height: 480px;
  }
}
@media screen and (min-width: 960px) {
  .ui.small.header {
    height: 320px;
  }
  .ui.medium.header {
    height: 480px;
  }
  .ui.large.header {
    height: 640px;
  }
}
/**/
