@element: accordion;
@type: module;

@import (multiple) "../../theme.less";

/* Accordion */

.ui.accordion {
    .title {
        .dropdown.icon {
            float: left;
            position: relative;
            width: 4px;
            height: 1em;
            transition: transform 0.3s;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%; left: 0;
                margin-top: -4px;
                border-top: 4px solid transparent;
                border-left: 4px solid currentColor;
                border-top: 4px solid transparent;
            }

            &.right {
                float:right;

                &:after {
                    border-left: none;
                    border-right: 4px solid currentColor;
                }
            }

            &.active {
                .dropdown.icon {
                    transform: rotate(90deg);

                    &.right {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    .content {
        transtition: height 0.3s cubic-bezier(0.65, 0, 0, 1);
    }
}

.load-overrides();
