@element: dropdown;
@type: module;

@import (multiple) "../../theme.less";

/* Dropdown */

.ui.dropdown {
    display: inline-block;
}
.ui.dropdown, .ui.menubar > .dropdown.item {
    position: relative;

    > .ui.menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        white-space: nowrap;
        background: @dropdown-menu-background;
        box-shadow: @dropdown-menu-box-shadow;
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        z-index: 10;

        transition: transform 0.3s, opacity 0.3s;
    }

    &:not(.click):hover > .ui.menu, &.active > .ui.menu {
        transform: none;
        opacity: 1;
        pointer-events: auto;
    }

    &.click {
        cursor: pointer;
    }

    &.box {
        padding: @dropdown-box-v-padding @dropdown-box-h-padding;
        line-height: 1.25;
        white-space: nowrap;
        height: ((2 * @dropdown-box-v-padding) + 1.25em);
        background: @dropdown-menu-background;

        // > .ui.menu {
        //     box-shadow: none;
        // }

        &:not(.click):hover > .ui.menu, &.active > .ui.menu {
            box-shadow: @dropdown-menu-box-shadow;
        }
    }
}

.load-overrides();
