@switch-width: 3rem;
@switch-socket-height: 1.625rem;
@switch-control-size: 1.5rem;

@switch-socket-border-size: 1px;
@switch-socket-border-color: @divider-color;

@switch-socket-active-border-size: 0;
@switch-socket-active-border-color: @switch-socket-border-color;

@switch-control-margin: 0;
@switch-control-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);